# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

List popular languages for Data Science

List commonly used libraries for Data Science

Demonstrate simple arithmetic operations using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java
6. Scala
7. JavaScript
8. C++

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. NumPy
3. Pandas
4. Scikit-learn
5. SciPy
6. Plotly
7. Beautiful Soup
8. NLTK
9. Statsmodels
10. ggplot
11. Caret

|Data Science Tools|
|------------------|
|     MangoDB      |
|   Apache Spark   |
|      Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
min = 200
hrs_in_min = 60

x = min/hrs_in_min
print(x)

# his will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Hammas Ahmed Siddiqui\
hammasahmed1004@gmail.com

## Author
Hammas Ahmed Siddiqui\
hammasahmed1004@gmail.com